* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important ;
}

body {
  background-color: #dedede;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON */
.login-btn {
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
  background-color: #4267B2;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: #fff;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}
 
.modal-content h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0px;
}
.modal-content p {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* TABS */
.login-tabs {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
}

.tab.active {
  background: #000;
  color: #fff;
}

/* CONTENT */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
}

.forgot {
  display: block;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

/* SOCIAL */
.divider {
  text-align: center;
  margin: 15px 0;
}

.social-login button {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.google { background: #db4437; color: #fff; }
.facebook { background: #4267B2; color: #fff; }
.apple { background: #000; color: #fff; }

/* MOBILE */
@media (max-width: 480px) {
  .modal-content {
    margin: 10px;
  }
}
