/* ================= MEDIA (MOBILE) ================= */
/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3000;
  }

  .nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    z-index: 2000;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list > li {
    border-bottom: 1px solid #eee;
  }

  .nav-list a,
  .dropdown-toggle {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mega-menu {
    position: static;
    width: 100%;
    padding: 10px 0;
    display: none;
    box-shadow: none;
    flex-direction: column;
  }

  .dropdown.open > .mega-menu {
    display: block;
  }

  .mega-menu .promo {
    display: none;
  }
}

/* ================= HAMBURGER ANIMATION ================= */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ================= EXTRA SMALL ================= */
@media (max-width: 480px) {
  .logo img {
    height: 35px;
  }
}

/* ================= DESKTOP ================= */
@media (min-width: 769px) {
  .dropdown:hover > .mega-menu {
    display: flex;
  }
}

/* Slider Media */
@media (max-width: 768px) {
  .slide-content {
    max-width: 90%;
    font-size: 14px;
    text-align: center;
  }

  .slide-content h1 {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
  }

  /* CENTER CONTENT */
  .slide-content.center {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .slide-content.center h1 {
    font-size: 30px;
    line-height: 1.2;
  }

  /* BOTTOM CONTENT */
  .slide-content.bottom {
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
  }

  .slide-content.bottom h1 {
    margin-bottom: 20px;
  }

  /* BUTTON (reuse desktop styles) */
  .slide-content .btn1 {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .slide-content {
    max-width: 90%;
  }

  .slide-content.left,
  .slide-content.center,
  .slide-content.bottom {
    left: 50%;
    top: auto;
    bottom: 15%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media (max-width: 900px) {
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item.wide {
    grid-column: span 2;
  }
}
@media (max-width: 600px) {
  .slide {
    text-align: center;
  }
  .slide img {
    width: 100%;
    height: 91%;
    margin: 0 auto;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .media-grid {
    grid-template-columns: 1fr;
  }

  .grid-item,
  .grid-item.wide {
    grid-column: span 1;
    aspect-ratio: 1 / 1;
  }
}

@media (max-width: 600px) {
  .collection-content .btn {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    transition: background 0.3s, color 0.3s;
  }
  .collection-content {
    position: absolute;
    bottom: 70px;
    left: 71px;
    color: #fff;
    z-index: 1;
  }
}
@media (max-width: 600px) {
  .thumbnails {
    display: grid;
    gap: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .image-text {
    flex-direction: column;
  }

  .image-box {
    flex: 0 0 100%;
  }

  .text-box h2 {
    font-size: 24px;
  }

  .description p {
    font-size: 15px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .scrolling-text-section {
    padding: 16px 0;
  }
}

@media (max-width: 768px) {
  .nav-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 18px;
  }

  .poem {
    font-size: 14px;
  }
}

@media (min-width: 700px) {
  .section-subtitle {
    /* text-align: left; */
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 700px) {
  .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .product-layout {
    grid-template-columns: 51% 45%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .timeline-slide {
    flex-direction: column;
    text-align: center;
  }

  .timeline-slide img,
  .timeline-content {
    width: 100%;
  }

  .timeline-content h2 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .timeline-nav {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
}

@media (min-width: 700px) {
  .logo-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  .logo-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input {
    width: 100%;
  }
  .newsletter-form button {
    width: 30%;
    padding: 10px 7px;
  }
}

@media (max-width: 600px) {
  .product-slider {
    flex-direction: column;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .faq-question {
    font-size: 16px;
  }

  .faq-answer p {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .features-track {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    transform: none !important;
  }

  .feature-card {
    min-width: auto;
  }
}
@media (max-width: 450px) {
  .features-track {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer h4 {
    font-size: 16px;
  }

  .footer p,
  .footer li {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer ul {
    align-items: center;
  }

  .footer li {
    margin-bottom: 8px;
  }

  .social-icons {
    gap: 10px;
  }

  .social-icons a {
    font-size: 15px;
  }

  .footer-bottom {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 25px;
  }

  .container {
    padding: 15px;
  }

  .footer h4 {
    font-size: 15px;
  }

  .footer p,
  .footer li {
    font-size: 12px;
  }

  .social-icons a {
    font-size: 14px;
  }
}
